.top-section {
    display: flex;
    padding: 96px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #F7F8F8;
}

.title-and-subtitle {
    display: flex;
    width: 624px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.copy {
    text-align: center;
    font-family: 'Georgia', serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
}

.explore {
    margin-top: 16px;
    font-family: 'Inter', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #3E4C5B;
}

.filters {
    display: flex;
    justify-content: space-between;
    padding: 16px 80px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-top: 1px solid #ECEDEF;
    border-bottom: 1px solid #ECEDEF;
}

.main-filters {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.select-btn {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.select-btn:focus {
    border-radius: 10px;
    border: 1px solid #216C5E;
    box-shadow: 0 0 0 4px #CBDFDC, 0 1px 2px 0 rgba(12, 15, 18, 0.05);
}

.select-btn .arrow-dwn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-btn.open .arrow-dwn {
    transform: rotate(-180deg);
}

.dropdown {
    position: absolute;
    margin: 45px 0 0 0;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
    overflow-y: auto;
    max-height: 296px;
}

.select-btn.open ~ .dropdown {
    display: block;
}

.dropdown.item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}

.dropdown .item:hover {
    background-color: ghostwhite;
}

.dropdown-buttons {
    display: flex;
    padding: 16px 16px 16px 0;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
}

.clearButton {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: 'Inter', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    border: none;
    background-color: #FFFFFF;
}

.applyButton {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: 'Inter', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #216C5E;
    border-radius: 10px;
    border: none;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0 0 0;
}

.item-text {
    font-family: 'Inter', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.item .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}

.item.checked .checkbox {
    background-color: #216C5E;
    border-color: #216C5E;
}

.checkbox .check-icon {
    color: #fff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}

.item.checked .check-icon {
    transform: scale(1);
}

.show-specialists {
    display: flex;
    align-items: center;
}

.selected-values {
    padding: 16px 0 0 80px;
    display: flex;
    gap: 16px;
}

.tag {
    padding: 4px 10px;
    background-color: #ECEDEF;
    border-radius: 100px;

}

.section {
    display: flex;
    padding: 64px 112px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    border-bottom: 1px solid #ECEDEF;
}

.top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.top-line-title {
    font-family: 'Inter', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.top-line-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: #FFFFFF;
    color: #216c5e;
    border: none;
    font-family: 'Inter', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.line {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

.class-preview {
    display: flex;
    width: 280px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex-shrink: 0;
}

.class-preview-image img {
    width: 280px;
}

.personal-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.avatar-explorePage img {
    width: 24px;
    height: 24px;
    border-radius: 100px;
}

.username {
    font-family: 'Inter', serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.class-preview-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    font-family: 'Inter', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.class-preview-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.class-preview-tags {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
    flex: 1 0 0;
    flex-wrap: wrap;
}

.class-preview-tag {
    padding: 4px 10px;
    border-radius: 100px;
    background-color: #ECEDEF;
    text-align: center;
    font-family: 'Inter', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #0C0F12;
}

/* Стили для раскрытого блока "class-preview" */
.class-preview.expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Стили для содержимого раскрытого блока "class-preview" */
.class-preview.expanded .class-preview-content {
    max-width: 800px;
    max-height: 600px;
    overflow: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

/* Стили для закрытия раскрытого блока "class-preview" */
.class-preview-close {
    display: flex;
    justify-content: flex-end;
    color: black;
    font-size: 18px;
    cursor: pointer;
}

/* Стили для анимации раскрытия и приближения блока "class-preview" */
.class-preview {
    transition: transform 0.3s ease;
}

.class-preview.expanded {
    transform: scale(1.2);
}


.invite-class-btn {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background: #216C5E;
    font-family: 'Inter', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    border: none;
    color: white;

}

/* list items */

.list-items, .grades-items, .institution-items {
    position: absolute;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
    overflow-y: auto;
    max-height: 296px;
}

.select-btn.open ~ .list-items, .grades-items {
    display: block;
}


.list-items.item, .grades-items.item, .institution-items.item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}

.list-items .item:hover {
    background-color: ghostwhite;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0 0 0;
}

.item-text {
    font-family: 'Inter', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.item .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}

.item.checked .checkbox {
    background-color: #216C5E;
    border-color: #216C5E;
}

.checkbox .check-icon {
    color: #fff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}

.item.checked .check-icon {
    transform: scale(1);
}

/* invite for call */

.invite-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(79, 85, 87, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.invite-form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Прозрачный фон для контейнера */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Устанавливаем высокий индекс для контейнера */
}

.invite-form-container > .invite-form {
    max-height: 100%;
    overflow-y: auto;
}

.invite-container {
    width: 70%;
    overflow: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.invite-form-top {
    display: flex;
    padding: 16px 16px 16px 32px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    font-family: 'Inter', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.invite-dropdowns {
    display: flex;
    padding: 32px;
   justify-content: space-between;
    gap: 16px;
    font-family: 'Inter', serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}



 .select-your-class {
     display: flex;
     padding: 32px;
     flex-direction: column;
     align-items: flex-start;
     gap: 24px;
     align-self: stretch;
     font-family: 'Inter', serif;
     font-size: 18px;
     font-style: normal;
     font-weight: 600;
     line-height: 28px;
 }

 .calendar {
     border: none;

 }

 .invite-message {
     display: flex;
     padding: 32px;
     flex-direction: column;
     align-items: flex-start;
     gap: 16px;
     font-family: 'Inter', serif;
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     line-height: 20px;
 }

 .message-container {
     display: flex;
     padding: 12px 14px;
     align-items: flex-start;
     gap: 8px;
     flex: 1 0 0;
     align-self: stretch;
     border-radius: 10px;
     border: 1px solid #D8DBDE;

 }




