.header {
    display: flex;
    justify-content: space-between;
    padding: 0 68px 0 68px;
    align-items: center;
    background-color: #FFFFFF;
}

.company-logo {
    height: 40px;
}

.header-right {
    display: flex;
    gap: 40px;
    align-items: center;
}

.sign-out {
    font-family: 'Inter', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.createAccount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 100px;
}


.content {
    position: relative;
    width: 384px
}

.title-and-subtle {
    text-align: center;
}

.title {
    font-family: 'Georgia', serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #252E37;
}

.label-and-CTA {
    display: flex;
    gap: 8px;
    justify-content: center;

}

.label {
    font-family: 'Inter', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0C0F12;

}

.CTA-button {
    background-color: #FFFFFF;
    border: none;
    font-family: 'Inter', serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #216C5E;
    text-decoration: none;
}

.email, .password, .confirm-password {
    margin-top: 16px;

}

.password-container {
    display: flex;
    justify-content: space-between;
}

.input-title {
    font-family: 'Inter', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0C0F12;
    margin-top: 16px;
}

.forget-password {
    font-family: 'Inter', serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #216C5E;
    text-decoration: underline;
    background-color: #FFFFFF;
    border: none;
}

.first-name-input, .last-name-input {
    font-family: 'Inter', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8B949D;
    width: 384px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #D8DBDE;
    margin-top: 8px;
}


.primary-button {
    margin: 24px 0 0 0;
    width: 384px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    line-height: 24px;
    background-color: #216C5E;
    font-family: 'Inter', serif;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}