/* header */

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 64px 0 64px;
    align-items: center;
    background-color: #FFFFFF;
}

.header-left {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
}

.menu-text {
    font-family: 'Inter', serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-left: 24px;
}

.profile-link {
    text-decoration: none;  /* Убирает подчеркивание ссылки */
    color: inherit;  /* Наследует цвет текста от родительского элемента */
    cursor: pointer;  /* Устанавливает вид курсора при наведении */
}

.header-right {
    display: flex;
    align-items: center;
}

.tertiary-button img {
    padding: 12px;
}

.profile {
    display: flex;
    align-items: center;
}

.avatar img {
    margin-left: 24px;
}

.chevron-down {
    margin-left: 8px;
}




/* switch button */

.show-expert {
    display: flex;
    margin-top: 24px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ECEDEF;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #216C5E;
}

input:focus + .slider {
    box-shadow: 0 0 1px #216C5E;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.available {
    font-family: 'Inter', serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #0C0F12;
    margin-left: 16px;
}


/* options */

.option {
    padding: 16px;
    border-radius: 10px;
    border: 1px solid #D8DBDE;
    box-shadow: 0 1px 2px 0 rgba(12, 15, 18, 0.05);
    margin-bottom: 16px;
}

.option-value {
    display: flex;
    justify-content: space-between;
}

.option-name {
    font-family: 'Inter', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

input[type='radio'] {
    width: 24px;
    height: 24px;
    border: 1px solid #D8DBDE;
    background: #FFF;
    box-shadow: 0 1px 2px 0 rgba(12, 15, 18, 0.05);
}

input[type='radio']::before {

}

input[type='radio']:checked::after {

}

.option-text {
    font-family: 'Inter', serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #3E4C5B;
    width: 312px;
    margin-top: 12px;
}


/*  Update-btn  */

.update-btn {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background: #216C5E;
    border: none;
    color: #FFFFFF;
    font-family: 'Inter', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.verify-btn {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background: white;
    border: 1px solid #D8DBDE;
    color: #B2B7BD;
    font-family: 'Inter', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}