body {
    margin: 0;
    background-color: #F7F8F8;
}

.back-btn {
    padding: 64px 0 0 112px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.back {
    color: #216C5E;
    font-family: 'Inter', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.settings {
    padding: 40px 0 0 112px;
    font-family: 'Georgia', serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: -0.72px;
}

.settings-filters {
    padding: 40px 0 0 112px;
    display: flex;
    align-items: center;
    gap: 24px;
    font-family: 'Inter', serif;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.content {

}

.profile-photo, .my-profile {
    padding: 32px 0 32px 32px;
    border-bottom: 1px solid #E9E9E9;
}

.profile-photo-title, .my-profile-title {
    font-family: 'Inter', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.profile-photo-text, .my-profile-text {
    padding-top: 8px;
    color: #3E4C5B;
    font-family: 'Inter', serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.profile-photo-avatar {
    padding-top: 32px;
    display: flex;
    gap: 24px;
}

.change-photo {
    color: #216C5E;
    font-family: 'Inter', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.my-profile-options {
    padding-top: 32px;
    display: flex;
    gap: 16px;
}

.update {
    padding-top: 16px;
}